@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(241, 237, 237);
}
.input{
  background-color: white ;
  color: black
}
@layer components{
    .container{
      @apply max-w-[1440px] mx-auto px-5 md:px-8 lg:px-12 xl:px-20 
    }
  }
  .active{
    @apply  font-bold;
}
